@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

html, body { 
	@apply h-full overflow-hidden; 
}