<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title>Регистрация в Rococo</title>
    <link rel="icon" th:href="@{images/favicon.ico}"/>
    <link th:href="@{styles/styles.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
    <div class="wrapper">
        <section class="content">
            <form th:if="${username == null}" class="form" id="register-form" th:object="${registrationModel}"
                action="/register" th:action="@{/register}"
                method="post">
                <h1 class="form__header">Ro<span class="form__text_gold">coco</span></h1>
                <label class="form__element">
                    <span class="form__label">Имя пользователя</span>
                    <span class="error__indicator error__username" th:if="${#fields.hasErrors('username')}"></span>
                    <input class="form__input" type="text" id="username" th:field="*{username}" name="username"
                        placeholder="Введите имя пользователя..." required/>
                    <span class="form__error error__username" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </label>
                <label class="form__element">
                    <span class="form__label">Пароль</span>
                    <span class="error__indicator error__password" th:if="${#fields.hasErrors('password')}"></span>
                    <input class="form__input" type="password" id="password" name="password" th:field="*{password}"
                        placeholder="Введите пароль..." required/>
                    <span class="form__error error__password" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </label>
                <label class="form__element">
                    <span class="form__label">Повторите пароль</span>
                    <span class="error__indicator error__passwordSubmit" th:if="${#fields.hasErrors('passwordSubmit')}"></span>
                    <input class="form__input" type="password" id="passwordSubmit" name="passwordSubmit"
                        th:field="*{passwordSubmit}" placeholder="Повторите пароль..." required/>
                    <span class="form__error error__passwordSubmit" th:if="${#fields.hasErrors('passwordSubmit')}"
                        th:errors="*{passwordSubmit}"></span>
                </label>
                <button class="form__submit" type="submit">
                    Зарегистрироваться
                </button>
                <p class="form__paragraph">Уже есть аккаунт? <a th:href="@{|${frontUri}|}" class="form__link">Войти</a></p>
            </form>
            <div class="form" th:unless="${username == null}">
                <p class="form__subheader">Добро пожаловать в Ro<span class="form__text_gold">coco</span></p>
                <p class="form__paragraph"><a class="form__submit" th:href="@{|${frontUri}|}">Войти в систему</a></p>
            </div>
            <img class="content__image" src="../static/images/renuar.jpeg" width="90" th:src="@{images/renuar.jpeg}" alt="Ренуар"/>
        </section>
    </div>
</main>
<script>
    const usernameInput = document.querySelector("#username");
    const passwordInput = document.querySelector("#password");
    const passwordSubmitInput = document.querySelector("#passwordSubmit");

    usernameInput.addEventListener("input", () => {
       const error = document.querySelectorAll(".error__username");
       error.forEach(err => err.remove());
    });

    passwordInput.addEventListener("input", () => {
        const error = document.querySelectorAll(".error__password");
        error.forEach(err => err.remove());
    });

    passwordSubmitInput.addEventListener("input", () => {
        const error = document.querySelectorAll(".error__passwordSubmit");
        error.forEach(err => err.remove());
    });
</script>
</body>
</html>
